<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>answer page:</h1>
    <h1>length of the text: {{length}}</h1>
    <h1>total number of words are: {{noofwords}}</h1>
    <h1>total number of uppercase letters are: {{upper}}</h1>
    <h1>total number of lowercase letters are: {{lower}}</h1>
    <h1>total numbers : {{numbers
        }}</h1>
    <h1>total number of symbols are: {{symbols}}</h1>
</body>
</html>