{% extends 'base.html' %}
{% block title %}signup {% endblock title %}
{% block body %}
{% comment %} <h1>this is heading</h1> {% endcomment %}
<div class="container">
    <form method='POST'>
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">UserName</label>
            <input type="text" class="form-control" name="username" id="username" >
            </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control"  name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">ConfirmPassword</label>
            <input type="password" class="form-control" id="exampleInputPassword2" name="confirmpassword">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</div>





{% endblock body %}